<div class="common-Modal">
  <div class="common-Modal-Bg"></div>
  <div class="common-Modal-Contents">
    <div class="js-Modal-Close common-Modal-Close"></div>
    <p class="common-Modal-Text">店舗へお問い合わせの際は、<br>取扱各店まで<br>以下の品番をお申し付けください。</p>
    <p class="js-Modal-Num common-Modal-Num"></p>
    <p class="js-Modal-Brand common-Modal-Brand"></p>
  </div>
</div>