<nav class="common-Nav">
  <ul>
    <li>
      <a href="../" class="<%= current === 'look' ? 'current' : '' %>">LOOK
      </a>
    </li>
    <li>
      <a href="./item/" class="<%= current === 'item' ? 'current' : '' %>">ITEM
      </a>
    </li>
  </ul>
</nav>